<section class="contestant-index">
  <%# if user_likes_page? %>			
    <h1>Vote For Your Favorite Driver</h1>
    <ul>
      <% @contestants.each do |contestant| %>
        <li class="accordion-toggle">
	      <%= link_to image_tag(contestant.image_url), contestant %>
	      <%= link_to contestant.name, contestant, class: 'name' %>
	      <%= pluralize contestant.reputation_value_for(:votes).to_i, "vote" %>
		  <%= link_to "up", vote_contestant_path(contestant, type: "up"), 
			  method: "post" %>
	    </li>
      <% end %>
    </ul>
	
	<form action="/contestant/fbindex" method="post">

	signed request: <input type="text" name="signed_request">
	<input type="submit"/>
	</form>
  <%# else %>
    <!--<h1>Like This Page To Vote For Your Favorite Driver</h1>-->
  <%# end %> 
</section>
