<script>
$(document).ready(function() {
	$('.contestantImage').on('click',function(){
		var url = $(this).attr('href');
		$('#profile').load(url);
		return false;
	});
	
	$('#countdown').countdown({ date: '01 January 2013 12:00:00'}, function() {
		$('#countdown').text('Campaign is over.')
	});
});
</script>
<%# if user_likes_page? %>
<section id="main-container">
	<section id="countdown">
		<h1>FIAT EXPERIENCE COUNTDOWN</h1>
		<hr class="divider">
		<table class="table">
			<thead>
				<tr>
					<th><span class="desc">Days</span></th>
					<th><span class="desc">Hours</span></th>
					<th><span class="desc">Minutes</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="days digit">00</span></td>
					<td><span class="hours digit">00</span></td>
					<td><span class="mins digit">00</span></td>
				</tr>
			</tbody>
		</table><!--/table.table-->
	</section><!--/section#countdown-->
	
	<section id="main-header">
		<%= header_img %>
		<section id="tabbed-nav">
			<ul class="tabs">
				<li class="tab1 active"><a href="#tab1" data-toggle="tab">CARMAN FIAT EXPERIENCE</a></li>
				<li class="tab2"><a href="#tab2" data-toggle="tab">WIN FREE FIAT SWAG</a></li>
				<li class="tab3"><a href="#tab3" data-toggle="tab">GRAB YOUR EXPERIENCE</a></li>
			</ul><!--/ul.tabs-->
		</section><!--/section#tabbed-nav-->
	</section><!--/section#main-header-->
	
	<div class="tab-content">
		<div id="tab1" class="tab-pane active">
			<section id="main-content-teal">
				<div class="row">
					<div class="span5">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
					   	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
					   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
					   consequat.</p>
					</div><!--/div.span5-->
				</div><!--/div.row-->
			</section><!--/section.main-content.teal-->
			<section id="giveaway-block">
				<div class="row">
					<div class="span4">
						<h2>You Could Win</h2>
						<h4>Awesome Prizes for <br/>Helping Your Friends!</h4>
					</div><!--/div.span4-->
					
				</div><!--/div.row-->
			</section><!--/section#giveaway-block-->
			
			<section id="footer-content">
				<div id="contestants">
					<% @contestants.each do |contestant| %>
						<%= link_to image_tag(contestant.image_url), contestant, class: 'contestantImage' %>
					<% end %>
				</div>
				
				<section class="tabbable">
					<ul class="nav nav-tabs">
						<li><h2>2012 Fiat Experience Standings</h2></li>
					</ul><!--/ul.tabs-->
				
					<div class="tab-content">
						<div id="tab4" class="tab-pane active">
							<section class="footer-main">
								<div id="profile">
									<section class="profile-container">
										
									</section><!--/section.profile-container-->
								</div><!--/div#profile-->
								
								<div id="leaderboard">
									<% @contestants.each do |contestant| %>
										<div class="tracks">
											<div class="tracks-inner"></div>
											<div class="vote-btn">
												<% if current_user == nil %>
													<%= link_to "Vote", "/auth/facebook" %>
												<% else %>
													<%= link_to "Vote", vote_contestant_path(contestant, value: 1), 
														method: "post" %>
												<% end %>
											</div>
										</div>
									<% end %>
								</div><!--/div#leaderboard-->
								
								
							</section><!--/section.footer-main-->
						</div><!--/div#tab4-->
					</div><!--/div.tab-content-->
				</section><!--/section.tabbable-->
				
				<section class="termsLink">
					<a href="#myModal" role="button" data-toggle="modal">
						Carman Fiat Experience Promotion Rules &amp; Responsibilities
					</a>
					<!-- Modal -->
					<div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" 
						 aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					    <h3 id="myModalLabel">Modal header</h3>
					  </div>
					  <div class="modal-body">
					    <p>One fine body…</p>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
					</div>
				</section>
			</section><!--/section#footer-content-->
		</div><!--/div#tab1.tab-pane-->
		
		<div id="tab2" class="tab-pane">
			<section id="main-content-pink">
				<iframe id="form" src="/giveaway_entries/new"></iframe>
			</section><!--/section.main-content.pink-->
		</div><!--/div#tab2.tab-pane-->
			
		<div id="tab3" class="tab-pane">
			<section id="main-content-gray">
				<iframe id="form" src="/test_drivers/new"></iframe>
			</section><!--/section.main-content.gray-->
			
		</div><!--/div#tab3.tab-pane-->
	</div><!--/div.tab-content-->
<%# else %>
	<!--<h1>Like This Page To Vote For Your Favorite Driver</h1>-->
<%# end %>
</section>

