<section class="span6">
  <h1>Vote For Your Favorite Driver</h1>
  <ul>
    <% @contestants.each do |contestant| %>
      <li>
	    <%= link_to image_tag(contestant.image_url), contestant %>
	    <%= link_to contestant.name, contestant, class: 'name' %>
		<%= link_to "up", vote_contestant_path(contestant, type: "up"), 
			method: "post" %>
	  </li>
    <% end %>
  </ul>
</section>