<h1>New Test Driver</h1>
<%= simple_form_for @test_driver, :html => { class: 'form-vertical' } do |f| %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>