<section class="main-container">
	<section class="main-header">
		<section class="logo"></section>
		<section class="countdown">
			<h1>FIAT EXPERIENCE COUNTDOWN</h1>
			<table class="table">
				<thead>
					<tr>
						<th><hr class="divider"><span class="desc">Days</span></th>
						<th><hr class="divider"><span class="desc">Hours</span></th>
						<th><hr class="divider"><span class="desc">Minutes</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="days digit">00</span></td>
						<td><span class="hours digit">00</span></td>
						<td><span class="mins digit">00</span></td>
					</tr>
				</tbody>
			</table><!--/table.table-->
		</section><!--/section.countdown-->
	</section><!--/section.main-header-->
	
	<section class="main-content" id="main-content-home">
		<h1>LIKE OUR PAGE THEN VOTE &amp; WIN!</h1>
		<div class="row">
			<div id="left-main-home">
				<h2>LIKE OUR PAGE</h2>
				<div id="splash-like-btn">
					<div class="fb-like" data-href="http://www.facebook.com/carmanfiat" data-send="false" 
						 data-layout="box_count" data-width="55" data-show-faces="false" data-font="verdana"></div>
				</div>
				<div id="left-main-img"></div>
			</div><!--/div#left-main-home-->
			
			<div id="right-main-home">
				<h2>VOTE FOR FRIENDS</h2>
				<div id="splash-vote-btn"><a href="/auth/facebook"><img src="/assets/splash-vote-btn.jpg" /></a></div>
				<div id="right-main-img"></div>
			</div><!--/div#right-main-home-->
			
			<div id="bottom-home">
				<h1>VOTE ONCE A DAY</h1>
				<h3>With each vote for a Friend,<br/> you're entered to win Free Fiat Swag.</h3>
			</div><!--/div#bottom-home-->
		</div><!--/div.row-->
	</section><!--/section.main-content-->
	<hr class="white">
	<section class="mini-footer">
		<section class="termsLink">
			<a href="#Modalhome" role="button" data-toggle="modal">
				Carman Fiat Experience Promotion Rules &amp; Responsibilities
			</a>
			<!-- Modal -->
			<div class="modal hide fade in" id="Modalhome" tabindex="-1" role="dialog" 
				 aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Carman Fiat Experience Promotion</h3>
			  </div>
			  <div class="modal-body">
			    <section style="text-align: left">
					<%= render 'contestants/fiat_rules' %>
				</section>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			  </div>
			</div>
		</section>
	</section><!--/section.mini-footer-->
</section><!--/section.main-container-->