// Override Bootstrap Styles

@import "bootstrap";

body { 
	margin: 0;
	padding: 0;
	width: 810px;
	height: 900px;	
}

/*-----------COLORS-----------*/
$teal: #007B6C;
$red: #A2204C;
$grayDark: #333;
$white: #fff;

/*-----------INDEX-----------*/
section#main-container {
	margin: 0 auto;
	background-color: #333;
	
	section#main-header {
		
		img {
			width: 810px;
			height: 300px;
		}
		
		ul.tabs {
			position: relative;
			top: -28px;
			left: -25px;
			margin-bottom: -15px;
			list-style: none;
			padding: 0;
			z-index: 1;
			
			li {
				display: inline;
				margin-right: -10px;
				padding:15px 20px 15px 20px;
				a, a:visited { color: #fff; }	
			}
			
			li.tab1 { background: $teal; }
			li.tab2 { background: $red; }
			li.tab3 { background: $grayDark; }
		}
	}
	
	section.main-content {
		width: 810px;
		height: 150px;
	}	
	
	div#tab1 {	
		section.main-content.teal {
			background: $teal;
			border-bottom: 2px solid #ccc;
		
			p { 
				position: relative;
				top: 28px;
				left: 50px;
				font-size: 16px;
				color: #fff; 
			}
		}
	
		section#giveaway-block {
			width: 810px;
			height: 120px;
			background: $grayDark;
			border-bottom: 2px solid #ccc;
			text-align: center;
			color: $white;
			
			div.span4 {
				position: relative;
				top: 15px;
				left: 30px;
				h2 { font-size: 28px; }
				h4 { font-size: 20px; line-height: 25px; }
			}
		}
	
		section#footer-content {
			margin: 0 auto;
			padding-bottom: 10px;
			width: 780px;
			height: 350px;
		
			.span4 {
				float: left;
				
				div#profile {
					margin:20px 0 0 -10px;
					width: 315px;
					height: 355px;
					background: #ccc;
				}
			}
		
			.span6 {
				float: right;
				margin:20px -10px 0 0; 
				
				img {
				width: 50px;
				height: 50px;
				background: $red;
				&:hover { opacity: 0.7; }
				
				}
				
				div#contestants a { 
					display: inline-block;
					margin-right: 2px;
					&:last-child { margin-right: 0px; }
				}
				
				div#leaderboard {
					margin:5px 0 0 -10px;
					width: 452px;
					height: 300px;
					background: #ccc;
				}
			}
			
			.hidden { display: none; }
		}
	}
	
	div#tab2 {
		section.main-content.red {
			background: $red;
			border-bottom: 2px solid #ccc;
			
			p { color: $white; }
		}
	}
	
	div#tab3 {
		section.main-content.gray {
			background: $grayDark;
			border-bottom: 2px solid #ccc;
			
			p { color: $white; }
		}
	}
}