// Override Bootstrap Styles

@import "bootstrap";

html, body { 
	margin: 0;
	padding: 0;
	border: 0;
	overflow-y: hidden;
}

/*-----------COLORS-----------*/
$teal: #00B19F;
$pink: #B51452;
$gray: #7A7A6F;
$grayDark: #313430;
$grayMid: #BFC1BA;
$grayLight: #EDEEEE;
$white: #fff;
$red: #D92128;
$green: #72BC42;

/*-----------INDEX-----------*/
section#main-container {
	width: 810px;
	/* height: 1215px; */
	
	section#fangate {
		img { 
			width: 810px;
			height: 1094px;
		}
	}
	
	section#logo {
		float: left;
		margin:30px 0 0 30px;
		width: 207px;
		height: 207px;
		background: url('/assets/fiat-logo.png');
	}
	
	section#countdown {
		float: right;
		margin-right: 40px;
		width: 240px;
		height: 105px;
		color: $white;
		background: rgba(0,0,0,.6);
		z-index: 999;
			
		h1 { 
			margin: 0; 
			padding: 0; 
			font-family: Cambria, Georgia, serif;
			font-size: 14px; 
			text-align: center; 
			color: $white;
		}
		
		table.table {
			margin:-15px auto;
			width: 180px;
			border: none; 
			
			tr:hover td, tr:hover th { background: none; }
			
			td { 
				padding:2px 5px; 
				line-height: 20px; 
				border: none; 
  			}
			
			th span.desc { 
				font-weight: lighter; 
				text-align: left; 
			}
			
			td span.digit { 
				padding:2px 10px; 
				background: $gray; 
				font-weight: bolder; 
				font-size: 32px;
			}
			
			hr.divider {
				margin:0 auto;
				position: relative;
				top: 41px;
				left: -3px;
				width: 100%; 
				height: 3px;  
				padding:0 3px 0 3px;
				color: rgba(0,0,0,.2);
				background-color: rgba(0,0,0,.2); 
				border: none;
			}
		}
	}
	
	section#main-header {
		width: 810px;
		height: 403px;
		background: url('/assets/main-header-img.jpg') no-repeat;
		
		img { border: none; } 
	}
	
	section#tabbed-nav {
		border-bottom: 3px solid $white;
		ul.tabs {
			position: relative;
			top: -25px;
			left: -25px;
			margin-bottom: -19px;
			list-style: none;
			padding: 0;
			z-index: 1;
		
			li {
				display: inline;
				margin:0 2px 0 0;
				&:first-child { margin-left: 15px; }
				a, a:visited { 
					padding:8px 30px 8px 30px;
					color: $white; 
					font-family: Cambria, Georgia, serif;
					font-size: 16px;
					font-weight: bolder; 
					text-shadow: 1px 1px 3px #000;
					border: 3px solid $white;
					border-bottom: none;
					background-image: -ms-linear-gradient(top, #B51452 0%, #740030 100%);
					background-image: -moz-linear-gradient(top, #B51452 0%, #740030 100%);
					background-image: -o-linear-gradient(top, #B51452 0%, #740030 100%);
					background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B51452), color-stop(1, #740030));
					background-image: -webkit-linear-gradient(top, #B51452 0%, #740030 100%);
					background-image: linear-gradient(to bottom, #B51452 0%, #740030 100%);
					-webkit-border-top-left-radius: 5px;
					-webkit-border-top-right-radius: 20px;
					-moz-border-radius-topleft: 5px;
					-moz-border-radius-topright: 20px;
					border-top-left-radius: 5px;
					border-top-right-radius: 20px;
					&:hover { text-decoration: none; background: $teal; }
				}	
			}
			
			li.active  a, li.active a:visited { background: $teal; border-bottom: 3px solid $teal; }
		}
	}
	
	section.main-content { 
		background-image: -ms-linear-gradient(top, #00B19F 0%, #006A60 100%);
		background-image: -moz-linear-gradient(top, #00B19F 0%, #006A60 100%);
		background-image: -o-linear-gradient(top, #00B19F 0%, #006A60 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00B19F), color-stop(1, #006A60));
		background-image: -webkit-linear-gradient(top, #00B19F 0%, #006A60 100%);
		background-image: linear-gradient(to bottom, #00B19F 0%, #006A60 100%);
		border-bottom: 5px solid $green;
	}
	
	div#tab1 {	
	
		section#main-content-tab1 {
			width: 810px;
			height: 175px;
			
			p { 
				position: relative;
				top: 35px;
				left: 50px;
				font-size: 16px;
				color: #fff; 
			}
			
			.vote-btn-big {
				float: right;
				margin:-1px 40px 0 0;
				width: 232px;
				height: 176px;
				background: url('/assets/vote-btn-big.png');
			}
		}
	
		section#giveaway-block {
			width: 810px;
			height: 150px;
			background: url('/assets/asfalt.png') repeat;
			border-top: 5px solid $red;
			border-bottom: 3px solid $white;
			text-align: center;
			color: $white;
			
			div#swag-img {
				float: left;
				margin:-58px 0 0 0;
				width:419px;
				height:222px;
				background: url('/assets/fiat-swag.png');
			}
			
			div.span4 {
				float: right;
				margin:25px 60px 0 0;
				
				h2 a, h2 a:visited { 
					font-family: Cambria, Georgia, serif;
					font-size: 32px; 
					color: $white; 
					text-shadow:3px 3px 3px $black;
					&:hover { text-decoration: none; }
				}
				
				h4 { 
					font-family: Cambria, Georgia, serif;
					font-size: 20px; 
					line-height: 20px; 
					text-shadow:3px 3px 3px $black; 
				}
			}
		}
	
		section#footer-content {
			width: 810px;
			height: 590px;
			background-image: -ms-linear-gradient(bottom, #7A7A6F 0%, #403F38 100%);
			background-image: -moz-linear-gradient(bottom, #7A7A6F 0%, #403F38 100%);
			background-image: -o-linear-gradient(bottom, #7A7A6F 0%, #403F38 100%);
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7A7A6F), color-stop(1, #403F38));
			background-image: -webkit-linear-gradient(bottom, #7A7A6F 0%, #403F38 100%);
			background-image: linear-gradient(to top, #7A7A6F 0%, #403F38 100%);
			
			div#contestants { 
				float: right;
				margin:8px 20px 0 0;
				
				img {
					width: 55px;
					height: 60px;
					background-image: -ms-radial-gradient(center, circle farthest-corner, #B51452 0%, #740030 100%);
					background-image: -moz-radial-gradient(center, circle farthest-corner, #B51452 0%, #740030 100%);
					background-image: -o-radial-gradient(center, circle farthest-corner, #B51452 0%, #740030 100%);
					background-image: -webkit-gradient(radial, center center, 0, center center, 497, 
								  	  color-stop(0, #B51452), color-stop(1, #740030));
					background-image: -webkit-radial-gradient(center, 
									  circle farthest-corner, #B51452 0%, #740030 100%);
					background-image: radial-gradient(circle farthest-corner at center, #B51452 0%, #740030 100%);
					&:hover { opacity: 0.7; }
				}
				
			 	a { 
					display: inline-block;
					margin-right: 1px;
					&:last-child { margin-right: 0px; }
				}
			}
			
			section.tabbable {
				width: 770px;
				padding-top: 20px;
				margin:0 0 0 20px;
				-webkit-box-shadow: 0 5px 5px -3px #000000;
				-moz-box-shadow: 0 5px 5px -3px #000000;
				box-shadow: 0 5px 5px -3px #000000;
				
				ul.nav.nav-tabs {
					margin-bottom: 0;
					border: none;
					li { 
						padding:15px 24px 15px 24px;
						background: $grayLight;
						-webkit-border-top-left-radius: 5px;
						-webkit-border-top-right-radius: 20px;
						-moz-border-radius-topleft: 5px;
						-moz-border-radius-topright: 20px;
						border-top-left-radius: 5px;
						border-top-right-radius: 20px;
						 
						h2 { 
							font-size: 24px;
							font-family: Cambria, Georgia, serif;
							color: $pink; 
							text-shadow: 1px 1px 3px $black;
						} 
					}
				}
				
				div#tab4 {
					section.footer-main {
						width: 770px;
						height: 450px;
						background: $grayLight;
						
						div#profile {
							float: left;
							margin:10px 0 0 10px;
							width: 270px;
							height: 430px;
							background: $grayMid;
							-webkit-box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.75);
							-moz-box-shadow:    1px 2px 3px rgba(50, 50, 50, 0.75);
							box-shadow:         1px 2px 3px rgba(50, 50, 50, 0.75);
						}
						
						div#leaderboard {
							float: right;
							width: 475px;
							height: 440px;
								
							div.tracks {
								display: inline-block;
								margin-left: 21px;
								width: 35px;
								height: 400px;
								background: $grayMid;
								&:first-child { margin-left: 10px; }
								
								div.tracks-inner {
									margin-left: 10px;
									width: 15px;
									height: 400px;
									background: $grayDark;
								}
								
								div.car {
									width: 25px;
									height: 44px;
									background: url('/assets/car.png');
									z-index: 1;
									-webkit-border-radius: 5px;
									-moz-border-radius: 5px;
									border-radius: 5px;
								}
								
								div.vote-btn  {
									position: relative;
									margin:-8px 0 0 -8px;
									width: 45px;
									height: 45px;
									box-shadow:1px 1px 3px $grayDark;
									-webkit-border-radius: 25px;
									-moz-border-radius: 25px;
									border-radius: 25px;
									border: 3px solid $white;
									z-index: 2;
									background-image: -ms-radial-gradient(center, circle closest-corner, #B51452 0%, #740030 100%);
									background-image: -moz-radial-gradient(center, circle closest-corner, #B51452 0%, 
													  #740030 100%);
									background-image: -o-radial-gradient(center, circle closest-corner, #B51452 0%, #740030 100%);
									background-image: -webkit-gradient(radial, center center, 0, center center, 497, 
													  color-stop(0, #B51452), color-stop(1, #740030));
									background-image: -webkit-radial-gradient(center, circle closest-corner, #B51452 0%, 
												      #740030 100%);
									background-image: radial-gradient(circle closest-corner at center, #B51452 0%, #740030 100%);
									&:hover { box-shadow:0 0 4px #222 inset; }
									
									a, a:visited { 
										position: relative; 
										top: 10px; 
										left: 0px; 
										text-align: center; 
										color: $white; 
										font-family: Cambria, Georgia, serif;
										font-size: 14px;
										&:hover { text-decoration: none; color: $white; }
									}
								}
								
							}
						}

					}
				}
			}
		}
	}
	
	div#tab2 {
		section#main-content-tab2 {
			width: 810px;
			height: 400px; 
			
			iframe#form {
			    position: relative; 
				top: 20px;
				width: 540px;
			    height: 300px;
			    margin:0 auto;
			    padding: 0px;
			    border: 0px;
			    display: block;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-box-shadow: -2px 4px 14px rgba(50, 50, 50, 0.75);
				-moz-box-shadow:    -2px 4px 14px rgba(50, 50, 50, 0.75);
				box-shadow:         -2px 4px 14px rgba(50, 50, 50, 0.75);
			}
		}
	}
	
	div#tab3 {
		section#main-content-tab3 {
			width: 810px;
			height: 400px;
			
			iframe#form {
				position: relative; 
				top: 20px;
			    width: 540px;
			    height: 360px;
			    margin:0 auto;
			    padding: 0px;
			    border: 0px;
			    display: block;
			    -webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-box-shadow: -2px 4px 14px rgba(50, 50, 50, 0.75);
				-moz-box-shadow:    -2px 4px 14px rgba(50, 50, 50, 0.75);
				box-shadow:         -2px 4px 14px rgba(50, 50, 50, 0.75);
			}		
		}
	}
}

/*-----------TERMS LINK & POP-UP-----------*/
section.termsLink { 
	margin-top:20px;
	text-align: center; 
}

section.termsLink a, section.termsLink a:visited {  
	color: $white;
	font-size: 14px;
	font-family: Cambria, Georgia, serif;
	text-shadow: 1px 1px 3px #000;
	&:hover { text-decoration: underline; }
}

/*----------MINI FOOTER TAB----------*/
section.mini-footer {
	width: 810px;
	height: 70px;
	border-top: 5px solid $red;
	background: $gray;
}

/*-----------CONTESTANT PROFILE-----------*/
section#main-profile {
	width: 270px;
	height: 430px;
}

section.profile-container {
	width: 250px;
	margin-left: 10px; 
	
	img.contestant-profile { 
		margin-top: 10px;
		width: 250px; 
		height: 145px;
		background: #171816;
	}
	
	h1 { font-family: Cambria, Georgia, serif; font-size: 18px; }

	hr.profile { 
		margin:0px 0 10px 0;
		width: 250px; 
		height: 1px; 
		color: #333; 
		background-color: #333; 
		border: none; 
	}

	ul { 
		margin-left: 0;
		list-style: none; 
		li { 
			display: inline; 
			&:hover { opacity: .80; }
		}
	}
	
	p { font-family: Cambria, Georgia, serif; }
	
	span.vote-counter {
		font-weight: bold;
		padding: 3px;
		border: 3px solid $black;
		background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EDEDEE 100%);
		background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EDEDEE 100%);
		background-image: -o-linear-gradient(top, #FFFFFF 0%, #EDEDEE 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EDEDEE));
		background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EDEDEE 100%);
		background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDEE 100%);
	}
}

/*-----------GIVEAWAY ENTRY FORM-----------*/
section#giveaway-entry-form {
	margin:0;
	padding:0;
	width: 500px;
	padding:5px 20px;
	
	h1 { font-family: Cambria, Georgia, serif; font-size: 24px; text-align: center; }
	
	div.control-group input {
	  width: 300px;
	  height: auto;
	  padding: 10px;
	  border: 1px solid #aaa;
	  -moz-box-shadow: inset 0 0 2px #000;
	  -webkit-box-shadow: inset 0 0 2px #000;
	  box-shadow: inner 0 0 2px #000;
	}
}

/*-----------TEST DRIVER FORM-----------*/
section#test-driver-form {
	margin:0;
	padding:0;
	width: 500px;
	padding:5px 20px;
	
	h1 { font-family: Cambria, Georgia, serif; font-size: 24px; text-align: center; }
	
	div.control-group input {
	  width: 300px;
	  height: auto;
	  padding: 10px;
	  border: 1px solid #aaa;
	  -moz-box-shadow: inset 0 0 2px #000;
	  -webkit-box-shadow: inset 0 0 2px #000;
	  box-shadow: inner 0 0 2px #000;
	}
}

/*-----------MISC-----------*/
div.alert {
	margin-bottom: 0;
}

hr.white {
	border: none;
	margin: 0;
	height: 5px;
	background: $white;
	color: $white;
}